<!-- Services -->
<section class="content-section bg-light" id="services">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>What We Offer</h2>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="{{ site.baseurl }}/assets/img/private-deployment.png" alt="Private Deoloyment">
                        <div class="card-body">
                          <h5 class="card-title">Private Deployment</h5>
                          <p class="card-text">
                              Our expertise in Private Inference Machine Deployment helps organizations embed AI seamlessly into their workflow. We assist businesses in integrating tailor-made AI models into their infrastructure, while ensuring optimal performance, privacy, and scalability. Our dedicated team has extensive experience in managing and deploying these complex systems, thus enabling clients to benefit from AI capabilities without compromising their sensitive data.
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top" src="{{ site.baseurl }}/assets/img/training-industry.png" alt="Training For Industry">
                        <div class="card-body">
                          <h5 class="card-title">Training for Industry</h5>
                          <p class="card-text">
                              We believe that AI is not a one-size-fits-all solution. Hence, we offer bespoke AI training for different industries. By understanding unique industry needs and challenges, we develop and provide personalized training programs. These initiatives empower your workforce to understand and implement AI technologies effectively within your specific industrial context. Our goal is to enable your team to leverage AI in solving real-world business problems, optimizing operations, and driving innovation.
                          </p>
                        </div>
                      </div>
                      <div class="card">
                        <img class="card-img-top" src="{{ site.baseurl }}/assets/img/moss-base.png" alt="MOSS">
                        <div class="card-body">
                          <h5 class="card-title">MOSS</h5>
                          <p class="card-text">
                              Our services extend to MOSS Knowledge/Data Base Management, where we enable companies to navigate the complex landscape of open-source software. We assist in managing, optimizing, and leveraging open-source resources to their full potential. Our data management solutions ensure you have access to up-to-date, reliable, and organized data. This enhances decision-making processes, accelerates development, and fosters a culture of collaboration and transparency in your organization.
                          </p>
                        </div>
                      </div>
                </div>
                <p></p>
                <a class="btn btn-success btn-xl js-scroll-trigger" href="#team">Who We Are</a>
            </div>
        </div>
    </div>
</section>
