<section id="team" class="team_area section-padding">
	<div class="container">								
		<h2 class="title_spectial">Meet creative team</h2>	
		<div class="row text-center">
			<div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="our-team">
					<div class="single-team">
						<img src="{{ site.baseurl }}/assets/img/team/stephen_li.png" class="img-fluid" alt="">
						<h3>Stephen L</h3>
						<p>CEO&CTO</p>
					</div>						
				</div><!--- END OUR TEAM -->	
			</div><!--- END COL -->	
			<div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="our-team">
					<div class="single-team">
						<img src="{{ site.baseurl }}/assets/img/team/emily_huang.png" class="img-fluid" alt="">
						<h3>Emily Huang</h3>
						<p>CFO</p>
					</div>					
				</div><!--- END OUR TEAM -->	
			</div><!--- END COL -->	
			<div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
				<div class="our-team">
					<div class="single-team">
						<img src="{{ site.baseurl }}/assets/img/team/christopher.png" class="img-fluid" alt="">
						<h3>Christopher Morris </h3>
						<p>COO&Cheif Product Manager</p>
					</div>					
				</div><!--- END OUR TEAM -->	
			</div><!--- END COL -->
			<div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeInUp;">
				<div class="our-team">
					<div class="single-team">
						<img src="{{ site.baseurl }}/assets/img/team/Jasmine.png" class="img-fluid" alt="">
						<h3>Jasmine Patel</h3>
						<p>Principal Engineer</p>
					</div>						
				</div><!--- END OUR TEAM -->	
			</div><!--- END COL -->
			<div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
				<div class="our-team">
					<div class="single-team">
						<img src="{{ site.baseurl }}/assets/img/team/sophia.png" class="img-fluid" alt="">
						<h3>Sophia Williams</h3>
						<p>UI/UX Designer</p>
					</div>						
				</div><!--- END OUR TEAM -->	
			</div><!--- END COL -->
			<div class="col-lg-2 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
				<div class="our-team">
					<div class="single-team">
						<img src="{{ site.baseurl }}/assets/img/team/ryan.png" class="img-fluid" alt="">
						<h3>Ryan Kim</h3>
						<p>Statistician</p>
					</div>						
				</div><!--- END OUR TEAM -->	
			</div><!--- END COL -->		  
		</div><!--- END ROW -->			
	</div><!--- END CONTAINER -->
</section>